body{
    font-family: 'Lato', sans-serif;
}
html,body,div,iframe{
    margin:0;
    padding:0;
    height: 100%;
}
nav{
    padding: 5px 10px;
    background: rgb(33, 33, 33);
    display: flex;
    justify-content: center;
}
iframe{
    display: block;
    width: 100%; 
    border: none;
    align-self: center;
}
.navbar-inicio{
    display: inline-block;
    background: rgb(33, 33, 33);
    color: rgb(255, 255, 239);
    font-size: 15px;
    padding: 25px 40px;
    text-decoration:none;
    
}
.navbar-inicio:hover{
    background: rgb(255, 160, 0);
    color: rgb(0, 0, 0);
}


.navbar-button{
    background: rgb(33, 33, 33);
    color: rgb(255, 255, 239);
    padding: 20px 15px;
    border: 1px solid  rgb(255, 255, 255);
    display: none;
}
.navbar-button:hover{
    background: rgb(255, 160, 0);
    color: rgb(0, 0, 0); 
}

@media (max-width: 600px){
    nav{
        flex-direction: column;
        padding: 5px 10px;  
    }
    .navbar-button{
        display: inline-block;
        width: 75px;
        height: 50px;
        align-self: flex-end;
    }
    .ocultarmenu{
        display: none;
    }
}