*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(214, 211, 211);
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);

    grid-template-areas: "header    header      header"
                         "contenido contenido   sidebar"
                         "widget1   widget2     sidebar"
                         "footer    footer      footer";

}
.contenedor > div, .contenedor .header,.contenedor .contenido, .contenedor .footer, .contenedor .sidebar{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.contenedor .header{
    background-color: #12203e;
    color: #ffffff;
    /*grid-column-start: 1;
    grid-column-end: 4;*/
    grid-area: header;
}
.contenedor .contenido{
    /*grid-column: span 2;*/
    grid-area: contenido;

}
.contenedor .sidebar{
    grid-column: 3 / 4;
    background-color: #faa43d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /*grid-row: 2/4;*/
    grid-area: sidebar;
}

.contenedor .widget-1,.contenedor .widget-2{
    background-color: #55a8fd;
    color: #ffffff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor .widget-1{
    grid-area: widget1;
}.contenedor .widget-2{
    grid-area: widget2;
}

.contenedor .footer{
    background-color: #12203e;
    color: #ffffff;
    /*grid-column: span 3;*/
    grid-area: footer;
}

@media screen and (max-width: 768px){

    .contenedor{
        grid-template-areas: "header    header      header"
                             "contenido contenido   contenido"
                             "sidebar   sidebar     sidebar"
                             "widget1   widget2     widget2"
                             "footer    footer      footer";
    }

    .contenedor .contenido{
        /*grid-column: 1/-1;*/
    }
    .contenedor .sidebar{
        min-height: 100px;
        /*grid-column: 1/-1;
        grid-row: 2;*/
    }
    .contenedor .widget-1{
        /*grid-column: span 2;*/
    }
}